PONTEMESH_HOME=/var/pontemesh_home
PONTEMESH_DATABASE_URL=postgres://pontemesh:pontemesh@postgres:5432/pontemesh
PONTEMESH_STORAGE_PATH=/var/pontemesh_home/data/storage
PONTEMESH_HTTP_HOST=0.0.0.0
PONTEMESH_WEB_PORT=8080
PONTEMESH_S3_PORT=9000
PONTEMESH_S3_BOOTSTRAP_ACCESS_KEY_ID=
PONTEMESH_S3_BOOTSTRAP_SECRET_ACCESS_KEY=
